<!DOCTYPE html>
<html>
<head>
     <link rel= 'stylesheet', href=".\css\style.css">
    
</head>
<body>
    {{>header}}
    <p>This site can be used to get weather</p>
    <img src="image\image1.jpg">
{{>footer}}

</body>

</html>